* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1e9da;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
 }

a {
    text-decoration: none;
} 
/*header and nav bar*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5f6b;
    padding: 35px 35px;
    width: 100%;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f8;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}

.initials h1 { 
    color: #4c5f6b;
    font-family: 'Source Serif 4', sans-serif;
}

.initials:hover {
    background-color: #bd8c31;
}

.initials:hover h1 {
    color: #f2f5f8;
}

.nav-link {
    color: #f2f5f8;
    font-size: 1.5em;
    font-family: 'Source Serif 4', sans-serif;
}

.nav-link:hover {
    color: #bd8c31;
}


/*header and nav bar*/
