* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f5f8;
    font-family: 'Source Serif 4', sans-serif;
    width: 100%;
 }

a {
    text-decoration: none;
} 
/*header and nav bar*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5f6b;
    padding: 35px 35px;
    width: 100%;
    border-bottom: 5px solid #bd8c31;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f8;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}

.initials h1 { 
    color: #4c5f6b;
    font-family: 'Source Serif 4', sans-serif;
}

.initials:hover {
    background-color: #bd8c31;
}

.initials:hover h1 {
    color: #f2f5f8;
}

.nav-link {
    color: #f2f5f8;
    font-size: 1.5em;
    font-family: 'Source Serif 4', sans-serif;
}

.nav-link:hover {
    color: #bd8c31;
}

/*header and nav bar*/

/*footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5f6b;
    padding: 35px 35px;
    width: 100%;
    border-top: 5px solid #bd8c31;
}

.footer-bar {
    color: #f2f5f8;
    font-size: 1.5em;
    font-family: 'Source Serif 4', sans-serif;
}

.footer-bar:hover {
    color: #bd8c31;
}
/*end footer*/

.hero {
    display: flex;
    justify-content: center;
    margin: 50px 150px;
}

.developer-name {
    color: #4c5f6b;
    font-size: 48pt;
    text-align: center;
    border-bottom: 5px solid #bd8c31;
    margin: .6em 1em;
}

.profile-pic {
    height: 500px;
    width: 300px;
    border-radius: 10px;
    margin: 3em 1em ;
}

.developer-bio {
    color: #4c5f6b;
    margin: 8em 5em;
    text-align: center;
    font-size: 14pt;
}
/*end hero section*/

/*start main work section*/

.work-title {
    display: flex;
    background-color: #4c5f6b;
    border-bottom: 5px solid #f2f5f8;
    color: #f2f5f8;
    font-size: 20pt;
}

.work-samples {
    display: flex;
    justify-content: flex-end;
    background-color: #4c5f6b;
    border-top: 10px solid #bd8c31;
    margin: 0 0 50px 0;
}

.working-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.progress-pic {
    height: 170px;
    width: 290px;
    border-radius: 10px;
    margin: 0px 180px;
}

.progress-title1 {
    position: relative;
    left: 180px;
    top: -100px;
    color: #f2f5f8;
    background-color: #bd8c31;
    width: 44.6%;
    text-align: center;
    font-size: 14pt;
    border-bottom: 5px solid #f2f5f8;
}
.progress-title2 {
    position: relative;
    left: 180px;
    top: -100px;
    color: #f2f5f8;
    background-color: #bd8c31;
    width: 44.6%;
    text-align: center;
    font-size: 14pt;
    border-bottom: 5px solid #f2f5f8;
}
.runbuddy-image {
    height: 400px;
    width: 800px;
    border-radius: 10px;
    margin: 19px 65px 0 0;
}

.runbuddy-image:hover {
    opacity: 0.70;
}

.runbuddy-label {
    position: relative;
    top: -4.5rem;
    left: -.10rem;
    background-color: #bd8c31;
    color: #f2f5f8;
    border-bottom: 5px solid #f2f5f8;
    margin: 10px 700px 0 2px ;
    text-align: center;
    font-size: 14pt;
}

/*Start media queries for smaller desktop screens and smaller*/

@media screen and (max-width: 980px) {
    .profile-pic {
        margin: 3em 3em 3em 0;
    }
   
    .developer-bio {
        margin: 50px 50px;
    }    

    .work-samples {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .runbuddy-image {
        margin: 19px 0px 0px 0px;
    }

    .working-box {
        display: flex;
        flex-direction: row;
    }

    .progress-pic {
        margin: 0px 50px;
    }
    
    .progress-title1 {
        width: 74.4%;
        left: 50px;
    }

    .progress-title2 {
        width: 74.4%;
        left: 50px;
    }

}

@media screen and (max-width: 768px) {
    .developer-bio {
        margin: 1em 2em 1em 2em;
    }

    .runbuddy-image {
        width: 95%;
        height: 95%;
        margin: 20px;
    }

    .runbuddy-label {
        top: -7rem;
        left: 1.25rem;
        margin: 30px 650px 0 0;
    }

}


