* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1e9da;
    font-family: 'Source Serif 4', sans-serif;
    width: 100%;
 }

a {
    text-decoration: none;
} 
/*header and nav bar*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5f6b;
    padding: 35px 35px;
    width: 100%;
    border-bottom: 5px solid #bd8c31;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f5f8;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
}

.initials h1 { 
    color: #4c5f6b;
    font-family: 'Source Serif 4', sans-serif;
}

.initials:hover {
    background-color: #bd8c31;
}

.initials:hover h1 {
    color: #f2f5f8;
}

.nav-link {
    color: #f2f5f8;
    font-size: 1.5em;
    font-family: 'Source Serif 4', sans-serif;
}

.nav-link:hover {
    color: #bd8c31;
}

/*header and nav bar*/

/*footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5f6b;
    padding: 35px 35px;
    width: 100%;
    border-top: 5px solid #bd8c31;
}

.footer-bar {
    color: #f2f5f8;
    font-size: 1.5em;
    font-family: 'Source Serif 4', sans-serif;
}

.footer-bar:hover {
    color: #bd8c31;
}
/*end footer*/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.developer-name {
    color: #4c5f6b;
    font-size: 55pt;
}

.profile-pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
